* {
    box-sizing: border-box;
}
html {
    background-color: black;
}
nav {
    display: flex;
    
    color: white;
    flex-direction: column;
    
}
h1  {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}
a {
    display: flex;
    justify-content: center;
    color: aquamarine;
    font-size: 16px;
}
video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;

}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   align-items: center;
}
main h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
main img {
    width : 1000px;
    align-content: center;
}
main p {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}
section {
    text-align: center;
    margin-top: 20px;
}

footer {
    color: gray;
    text-align: right;
}
